<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
           http://www.springframework.org/schema/security
           http://www.springframework.org/schema/security/spring-security-3.1.xsd">

    <beans:bean id="AppUserDetailsService" class="br.com.imunita.vacinasweb.controller.security.AppUserDetailsService" />
    
    <beans:bean id="exceptionTranslationFilter" class="org.springframework.security.web.access.ExceptionTranslationFilter">
        <beans:property name="accessDeniedHandler" ref="jsfAccessDeniedHandler"/>
        <beans:property name="authenticationEntryPoint" ref="authenticationEntryPoint"/>
    </beans:bean>
	
    <beans:bean id="jsfAccessDeniedHandler" class="br.com.imunita.vacinasweb.controller.security.JsfAccessDeniedHandler">
        <beans:property name="loginPath" value="/publico/AcessoNegado.xhtml" />
        <beans:property name="contextRelative" value="true" />
    </beans:bean>
	
    <beans:bean id="authenticationEntryPoint" class="br.com.imunita.vacinasweb.controller.security.JsfLoginUrlAuthenticationEntryPoint">
        <beans:property name="loginFormUrl" value="/publico/LoginAcesso.xhtml"/>
        <beans:property name="redirectStrategy" ref="jsfRedirectStrategy" />
    </beans:bean>
	
    <beans:bean id="jsfRedirectStrategy" class="br.com.imunita.vacinasweb.controller.security.JsfRedirectStrategy"/>

    <!-- Desabilita a segurança para as pastas de recursos-->
    <http pattern="/javax.faces.resource/**" security="none" /> 
    <http pattern="/publico/**" security="none" /> 

    <http auto-config="false" use-expressions="true">
        <intercept-url pattern="/index.xhtml" access="isAuthenticated()" />
        <intercept-url pattern="/publico/AcessoNegado.xhtml" access="isAuthenticated()" />
        <intercept-url pattern="/privado/areaPrivada.xhtml" access="isAuthenticated()" />
        <intercept-url pattern="/privado/administracao/acesso/**" access="hasAnyRole('ADMINISTRADOR')" />
        <intercept-url pattern="/privado/**" access="hasAnyRole('ADMINISTRADOR', 'FUNCIONARIO')" />
        <intercept-url pattern="/**" access="denyAll" />
        
        <form-login login-page="/publico/LoginAcesso.xhtml" 
                    authentication-failure-url="/publico/LoginAcesso.xhtml?invalid=true" 
                    default-target-url="/privado/areaPrivada.xhtml" always-use-default-target="true" />
        <logout logout-url="/j_spring_security_logout" invalidate-session="true" />
    </http>
    
    <authentication-manager>
        <authentication-provider user-service-ref="AppUserDetailsService">
            <!-- <password-encoder hash="md5" /> -->
        </authentication-provider>
    </authentication-manager>
           
           
</beans:beans>